
@{
    ViewBag.Title = "About";
}


<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            @Html.Partial("_PartialKategoriler")
        </div>

        <div class="col-md-7 col-md-offset-1">


            <div class="row">

                <h2>Consectetur adipiscing elit fusce vel.</h2>
                <hr />
                <img src="https://picsum.photos/seed/picsum/600/200" alt="">
                <hr />
                <p>
                    Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    Ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
                </p>
                <p>
                    Sapien elit in malesuada semper mi, id sollicitudin urna fermentum.
                    Ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat.
                </p>
            </div>

        </div>

    </div>

</div>
<!-- /.container -->

@section footer{
    @Html.Partial("_PartialFooter")
} 