
@{
    ViewBag.Title = "Kayıt Başarılı";
}

<link href="~/Content/Login.css" rel="stylesheet" />

<section class="login-info">
    <div class="container">
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center ">Yönlendiriliyorsunuz... </h1>
            </div>
            <div class="main-content">
                <div class="text-success">
                    <h2><span class="glyphicon glyphicon-ok"></span>Kayıt Oldunuz..</h2>
                    <hr />
                    <p>
                        Lütfen e-posta adresinize gönderdiğimiz aktivasyon linkine tıklayarak hesabınızı aktive ediniz. Hesabınızı aktive etmeden makale ekleyemez,yorum yazamazsınız ve beğeni yapamazsınız.
                    </p>
                </div>
 
            </div>
        </div>
    </div>
</section>

<script>

    setTimeout(function () {
        window.location = "/Home/Index";
    }, 4000);

</script>