@model IEnumerable<Makale.Entities.Kategori>

@{
    ViewBag.Title = "Kategoriler";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2>Kategoriler</h2>
        <hr />
    </div>   
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <p>
            <a href="/Kategori/Create" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span>  
                Yeni
            </a>
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Baslik)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Aciklama)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Baslik)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama)
                    </td>

                    <td>

                        <a href="/Kategori/Edit/@item.Id" class="btn btn-warning btn-xs">
                            <span class="glyphicon glyphicon-edit"></span>  Düzenle
                        </a>

                        <a href="/Kategori/Details/@item.Id" class="btn btn-info btn-xs">
                            <span class="glyphicon glyphicon-search"></span>  Detay
                        </a>

                        <a href="/Kategori/Delete/@item.Id" class="btn btn-danger btn-xs" >
                            <span class="glyphicon glyphicon-trash"></span>  Sil
                        </a>

                    </td>
                </tr>
            }

        </table>

    </div>
</div>



